Node-RED/flows.json
[{"id":"cc5fdf91.bdf68","type":"tab","label":"Message Bus Dashboard","disabled":false,"info":""},{"id":"2ec57d06.8bdac2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Edge Message Bus Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf25b0a6.85209","type":"ui_tab","z":"","name":"Edge Message Bus","icon":"memory","order":1,"disabled":false,"hidden":false},{"id":"94524b75.e846b8","type":"mqtt-broker","z":"","name":"Local","broker":"$(MQTT_BROKER)","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3f52f8fc.cc1bf8","type":"ui_group","z":"","name":"Weather","tab":"cf25b0a6.85209","order":2,"disp":true,"width":"6","collapse":false},{"id":"e972e1e0.fb444","type":"ui_group","z":"","name":"Last Recv'd Location","tab":"cf25b0a6.85209","order":1,"disp":true,"width":"4","collapse":false},{"id":"3db68f93.91dcf","type":"ui_group","z":"","name":"Display","tab":"cf25b0a6.85209","order":3,"disp":true,"width":"4","collapse":false},{"id":"39cf231f.48b36c","type":"ui_text","z":"cc5fdf91.bdf68","group":"e972e1e0.fb444","order":1,"width":"4","height":"1","name":"msgLocation","label":"","format":"Lat: {{msg.payload.data.lat}}<br>Lon: {{msg.payload.data.lon}}","layout":"row-center","x":304.5,"y":154,"wires":[]},{"id":"aa15fccc.66ecd","type":"mqtt in","z":"cc5fdf91.bdf68","name":"readTopic","topic":"$(MQTT_TOPIC)","qos":"2","datatype":"auto","broker":"94524b75.e846b8","x":73.5,"y":31,"wires":[["fdf2ef5e.81d1a"]]},{"id":"aeff7b2a.145928","type":"switch","z":"cc5fdf91.bdf68","name":"msgType","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"location","vt":"str"},{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"display","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":123.5,"y":206,"wires":[["39cf231f.48b36c"],["49443bee.dcddb4"],["555d4cc5.5ef584"]]},{"id":"fdf2ef5e.81d1a","type":"json","z":"cc5fdf91.bdf68","name":"","property":"payload","action":"","pretty":false,"x":112.5,"y":108,"wires":[["aeff7b2a.145928"]]},{"id":"29822013.84e3d","type":"ui_text","z":"cc5fdf91.bdf68","group":"3f52f8fc.cc1bf8","order":1,"width":0,"height":0,"name":"","label":"Current Weather","format":"{{msg.payload.shortcast}}","layout":"row-spread","x":670.5,"y":203,"wires":[]},{"id":"18989a57.099256","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"e972e1e0.fb444","order":3,"width":0,"height":0,"passthru":false,"label":"Taipei, Taiwan","tooltip":"","color":"","bgcolor":"","icon":"gps_fixed","payload":"{\"type\":\"location\",\"loctype\":\"geocode\",\"data\":{\"lat\":\"25.05\",\"lon\":\"121.53\"},\"child\":[]}","payloadType":"json","topic":"test/json","x":316.5,"y":84,"wires":[["d867d279.db1b6"]]},{"id":"db61c59a.8d7588","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"e972e1e0.fb444","order":2,"width":0,"height":0,"passthru":false,"label":"San Diego, CA","tooltip":"","color":"","bgcolor":"","icon":"gps_fixed","payload":"{\"type\":\"location\",\"loctype\":\"geocode\",\"data\":{\"lat\":\"32.72\",\"lon\":\"-117.16\"},\"child\":[]}","payloadType":"json","topic":"test/json","x":316.5,"y":40,"wires":[["d867d279.db1b6"]]},{"id":"d867d279.db1b6","type":"mqtt out","z":"cc5fdf91.bdf68","name":"setLocation","topic":"$(MQTT_TOPIC)","qos":"2","retain":"false","broker":"94524b75.e846b8","x":523.5,"y":57,"wires":[]},{"id":"49443bee.dcddb4","type":"switch","z":"cc5fdf91.bdf68","name":"msgWeather","property":"payload.data[0].day","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":300.5,"y":205,"wires":[["2e7ce0f2.86f2a"],["406ed800.af5bc8"]]},{"id":"2e7ce0f2.86f2a","type":"change","z":"cc5fdf91.bdf68","name":"ifNight","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[0].night","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":469.5,"y":182,"wires":[["29822013.84e3d"]]},{"id":"406ed800.af5bc8","type":"change","z":"cc5fdf91.bdf68","name":"ifDay","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[0].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":466.5,"y":231,"wires":[["29822013.84e3d"]]},{"id":"c1a2ec4e.600a8","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":2,"width":0,"height":0,"passthru":false,"label":"Sun","tooltip":"","color":"black","bgcolor":"{msg.background}","icon":"flare","payload":"","payloadType":"str","topic":"","x":439.5,"y":307,"wires":[["80c4b4e8.aa84f8"]]},{"id":"44ea0d5f.ec5d64","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":3,"width":"4","height":"1","passthru":false,"label":"Cloud","tooltip":"","color":"black","bgcolor":"{msg.background}","icon":"cloud","payload":"","payloadType":"str","topic":"","x":438.5,"y":383,"wires":[["f5dad2e6.e0ddb"]]},{"id":"8e0b7e16.f9afe","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":4,"width":"4","height":"1","passthru":false,"label":"Raining","tooltip":"","color":"black","bgcolor":"{msg.background}","icon":"grain","payload":"","payloadType":"str","topic":"","x":448.5,"y":452,"wires":[["8a9fecf2.d5dde"]]},{"id":"758a5a2e.b81124","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":5,"width":"4","height":"1","passthru":false,"label":"Storm","tooltip":"","color":"black","bgcolor":"{msg.background}","icon":"flash_on","payload":"","payloadType":"str","topic":"","x":439.5,"y":530,"wires":[["5efc10d2.04bd4"]]},{"id":"2f5e149f.7954cc","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":6,"width":"4","height":"1","passthru":false,"label":"Rainbow","tooltip":"","color":"black","bgcolor":"{msg.background}","icon":"looks","payload":"","payloadType":"str","topic":"","x":450.5,"y":594,"wires":[["408bab46.0b5674"]]},{"id":"555d4cc5.5ef584","type":"switch","z":"cc5fdf91.bdf68","name":"msgDisplay","property":"payload.data","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"cloud","vt":"str"},{"t":"eq","v":"raining","vt":"str"},{"t":"eq","v":"storm","vt":"str"},{"t":"eq","v":"rainbow","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":116.5,"y":455,"wires":[["71e5ccf2.bea454"],["2fb15767.7ad088"],["6f22bca2.b0baa4"],["b09bd7e0.5f9d08"],["df039142.b6af9"]]},{"id":"71e5ccf2.bea454","type":"change","z":"cc5fdf91.bdf68","name":"Gold","rules":[{"t":"set","p":"background","pt":"msg","to":"gold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":299.5,"y":308,"wires":[["c1a2ec4e.600a8"]]},{"id":"2fb15767.7ad088","type":"change","z":"cc5fdf91.bdf68","name":"Silver","rules":[{"t":"set","p":"background","pt":"msg","to":"silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":298.5,"y":384,"wires":[["44ea0d5f.ec5d64"]]},{"id":"6f22bca2.b0baa4","type":"change","z":"cc5fdf91.bdf68","name":"Cyan","rules":[{"t":"set","p":"background","pt":"msg","to":"cyan","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":297.5,"y":454,"wires":[["8e0b7e16.f9afe"]]},{"id":"b09bd7e0.5f9d08","type":"change","z":"cc5fdf91.bdf68","name":"Yellow","rules":[{"t":"set","p":"background","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":296.5,"y":531,"wires":[["758a5a2e.b81124"]]},{"id":"df039142.b6af9","type":"change","z":"cc5fdf91.bdf68","name":"Red","rules":[{"t":"set","p":"background","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":295.5,"y":595,"wires":[["2f5e149f.7954cc"]]},{"id":"223bd7e2.ed81b8","type":"delay","z":"cc5fdf91.bdf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":716.5,"y":307,"wires":[["1e7bcdec.01ba12"]]},{"id":"4cd3efaf.5d83b","type":"delay","z":"cc5fdf91.bdf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":715.5,"y":383,"wires":[["6e27478a.69edf8"]]},{"id":"4da4f5ff.a1f74c","type":"delay","z":"cc5fdf91.bdf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":736.5,"y":452,"wires":[["afddeace.3a26f8"]]},{"id":"bd6b741d.e13e88","type":"delay","z":"cc5fdf91.bdf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":723.5,"y":530,"wires":[["4ea58af7.82a704"]]},{"id":"8c3226fa.6f8c78","type":"delay","z":"cc5fdf91.bdf68","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":734.5,"y":594,"wires":[["cd457834.1342f8"]]},{"id":"1e7bcdec.01ba12","type":"change","z":"cc5fdf91.bdf68","name":"Empty","rules":[{"t":"set","p":"background","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":849.5,"y":307,"wires":[["c1a2ec4e.600a8"]]},{"id":"6e27478a.69edf8","type":"change","z":"cc5fdf91.bdf68","name":"Empty","rules":[{"t":"set","p":"background","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":383,"wires":[["44ea0d5f.ec5d64"]]},{"id":"afddeace.3a26f8","type":"change","z":"cc5fdf91.bdf68","name":"Empty","rules":[{"t":"set","p":"background","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":868,"y":452,"wires":[["8e0b7e16.f9afe"]]},{"id":"4ea58af7.82a704","type":"change","z":"cc5fdf91.bdf68","name":"Empty","rules":[{"t":"set","p":"background","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":855,"y":530,"wires":[["758a5a2e.b81124"]]},{"id":"cd457834.1342f8","type":"change","z":"cc5fdf91.bdf68","name":"Empty","rules":[{"t":"set","p":"background","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":868,"y":594,"wires":[["2f5e149f.7954cc"]]},{"id":"80c4b4e8.aa84f8","type":"switch","z":"cc5fdf91.bdf68","name":"ifGold","property":"background","propertyType":"msg","rules":[{"t":"eq","v":"gold","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":573.5,"y":307,"wires":[["223bd7e2.ed81b8"]]},{"id":"f5dad2e6.e0ddb","type":"switch","z":"cc5fdf91.bdf68","name":"ifSilver","property":"background","propertyType":"msg","rules":[{"t":"eq","v":"silver","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":574.5,"y":383,"wires":[["4cd3efaf.5d83b"]]},{"id":"8a9fecf2.d5dde","type":"switch","z":"cc5fdf91.bdf68","name":"ifCyan","property":"background","propertyType":"msg","rules":[{"t":"eq","v":"cyan","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":595.5,"y":453,"wires":[["4da4f5ff.a1f74c"]]},{"id":"5efc10d2.04bd4","type":"switch","z":"cc5fdf91.bdf68","name":"ifYellow","property":"background","propertyType":"msg","rules":[{"t":"eq","v":"yellow","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":583.5,"y":531,"wires":[["bd6b741d.e13e88"]]},{"id":"408bab46.0b5674","type":"switch","z":"cc5fdf91.bdf68","name":"ifRed","property":"background","propertyType":"msg","rules":[{"t":"eq","v":"red","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":594.5,"y":595,"wires":[["8c3226fa.6f8c78"]]}]