Node-RED/flows.json
[{"id":"9927ff5.7fbf5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc5fdf91.bdf68","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2ec57d06.8bdac2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Edge Message Bus Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cf25b0a6.85209","type":"ui_tab","z":"","name":"Edge Message Bus","icon":"memory","order":1,"disabled":false,"hidden":false},{"id":"94524b75.e846b8","type":"mqtt-broker","z":"","name":"Local","broker":"$(MQTT_BROKER)","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3f52f8fc.cc1bf8","type":"ui_group","z":"","name":"Weather","tab":"cf25b0a6.85209","order":2,"disp":true,"width":"6","collapse":false},{"id":"e972e1e0.fb444","type":"ui_group","z":"","name":"Last Recv'd Location","tab":"cf25b0a6.85209","order":1,"disp":true,"width":"4","collapse":false},{"id":"3db68f93.91dcf","type":"ui_group","z":"","name":"Display","tab":"cf25b0a6.85209","order":3,"disp":true,"width":"4","collapse":false},{"id":"52a4901f.c5da1","type":"inject","z":"9927ff5.7fbf5","name":"solution4","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acmeA.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acmeB.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acmeC.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":121,"y":847,"wires":[["e4a445e.5466ab8"]]},{"id":"7afca3ab.5f7dec","type":"inject","z":"9927ff5.7fbf5","name":"test1","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":131,"y":87,"wires":[["33069037.8a68d"]]},{"id":"33069037.8a68d","type":"function","z":"9927ff5.7fbf5","name":"function 1","func":"msg.payload = msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":87,"wires":[["34ab14fb.6d5c0c"]]},{"id":"34ab14fb.6d5c0c","type":"debug","z":"9927ff5.7fbf5","name":"","active":true,"console":"false","complete":"false","x":771,"y":87,"wires":[]},{"id":"2e561454.c8d06c","type":"inject","z":"9927ff5.7fbf5","name":"test2","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":131,"y":187,"wires":[["50af2895.539b68"]]},{"id":"50af2895.539b68","type":"function","z":"9927ff5.7fbf5","name":"function 2","func":" var output = msg.payload.name + \" is \" + msg.payload.age + \" years old\";\n msg.payload = output;\n return msg;","outputs":1,"noerr":0,"x":341,"y":187,"wires":[["d9107b4f.f9e148"]]},{"id":"d9107b4f.f9e148","type":"debug","z":"9927ff5.7fbf5","name":"","active":true,"console":"false","complete":"false","x":771,"y":187,"wires":[]},{"id":"275dc95e.9e5f06","type":"inject","z":"9927ff5.7fbf5","name":"test3","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acme.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acme.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":131,"y":287,"wires":[["167d5dd1.4aa472"]]},{"id":"167d5dd1.4aa472","type":"function","z":"9927ff5.7fbf5","name":"function 3","func":"output = {};\nfor (var i of msg.payload) {\n    output[i.name] = \"Age is \" + i.age + \" and mail address is \" + i.email;\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":287,"wires":[["aebd2f3f.8c891"]]},{"id":"aebd2f3f.8c891","type":"debug","z":"9927ff5.7fbf5","name":"","active":true,"console":"false","complete":"false","x":771,"y":287,"wires":[]},{"id":"600dd1b2.3bf05","type":"inject","z":"9927ff5.7fbf5","name":"test4","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acmeA.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acmeB.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acmeC.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":131,"y":387,"wires":[["f6244c71.33872"]]},{"id":"f6244c71.33872","type":"function","z":"9927ff5.7fbf5","name":"function 4","func":"output = \"\";\nfirst = true;\nfor (var i of msg.payload) {\n    if (!first) {\n        output += ', ';\n    } else {\n        first = false;\n    }\n    output += i.name + \" works for \" + i.email.split('@')[1];\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":387,"wires":[["4a8a8fb9.fc281"]]},{"id":"4a8a8fb9.fc281","type":"debug","z":"9927ff5.7fbf5","name":"","active":true,"console":"false","complete":"false","x":771,"y":387,"wires":[]},{"id":"463ce3f5.dec00c","type":"inject","z":"9927ff5.7fbf5","name":"solution1","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":121,"y":547,"wires":[["da9cd8be.8bbb88"]]},{"id":"7f9e10e6.d157b","type":"debug","z":"9927ff5.7fbf5","name":"output1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":761,"y":547,"wires":[]},{"id":"29ae1e20.f035d2","type":"inject","z":"9927ff5.7fbf5","name":"solution2","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":121,"y":647,"wires":[["d9ca35af.bff358"]]},{"id":"569c5802.025f48","type":"debug","z":"9927ff5.7fbf5","name":"output2","active":true,"console":"false","complete":"payload","x":761,"y":647,"wires":[]},{"id":"86db15f4.4bfd98","type":"inject","z":"9927ff5.7fbf5","name":"solution3","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acme.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acme.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":121,"y":747,"wires":[["230449bc.940026"]]},{"id":"a75eaaee.8bbf88","type":"debug","z":"9927ff5.7fbf5","name":"output3","active":true,"console":"false","complete":"payload","x":761,"y":747,"wires":[]},{"id":"86e2454.cea91b8","type":"debug","z":"9927ff5.7fbf5","name":"output4","active":true,"console":"false","complete":"payload","x":761,"y":847,"wires":[]},{"id":"d67390f2.b0201","type":"comment","z":"9927ff5.7fbf5","name":"Add solution for test 1 here","info":"","x":471,"y":527,"wires":[]},{"id":"6021cd7d.180bf4","type":"comment","z":"9927ff5.7fbf5","name":"Add solution for test 2 here","info":"","x":471,"y":627,"wires":[]},{"id":"597b8fde.f9973","type":"comment","z":"9927ff5.7fbf5","name":"Add solution for test 3 here","info":"","x":471,"y":727,"wires":[]},{"id":"20b73634.ba191a","type":"comment","z":"9927ff5.7fbf5","name":"Add solution for test 4 here","info":"","x":471,"y":827,"wires":[]},{"id":"4240c277.d64e1c","type":"comment","z":"9927ff5.7fbf5","name":"Test scenarios","info":"You need to implement the equivalent functionality of the function nodes without using a function node and only using the preinstalled nodes","x":91,"y":47,"wires":[]},{"id":"8b7e39d3.887bb8","type":"comment","z":"9927ff5.7fbf5","name":"ADD YOUR SOLUTIONS HERE","info":"Implement your solutions to the test scenarios.  \n\nsolution 1 should be the solution to test 1, solution 2 for test 2, etc...  \n\n**Do not** alter the names of the input nodes, as the grader relies on the set values to grade your solution.\n\n","x":151,"y":487,"wires":[]},{"id":"da9cd8be.8bbb88","type":"change","z":"9927ff5.7fbf5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":431.5,"y":550,"wires":[["7f9e10e6.d157b"]]},{"id":"d9ca35af.bff358","type":"change","z":"9927ff5.7fbf5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.name & \" is \" & msg.payload.age & \" years old\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":416.5,"y":646,"wires":[["569c5802.025f48"]]},{"id":"230449bc.940026","type":"change","z":"9927ff5.7fbf5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload{name:\"Age is \" & age & \" and mail address is \" & email}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":415.5,"y":751,"wires":[["a75eaaee.8bbf88"]]},{"id":"e4a445e.5466ab8","type":"change","z":"9927ff5.7fbf5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join(msg.payload.$join([name & \" works for \" & $substringAfter(email,\"@\")],\"\"),\", \")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":441.5,"y":852,"wires":[["86e2454.cea91b8"]]},{"id":"39cf231f.48b36c","type":"ui_text","z":"cc5fdf91.bdf68","group":"e972e1e0.fb444","order":1,"width":"4","height":"1","name":"","label":"","format":"Lat: {{msg.payload.data.lat}}<br>Lon: {{msg.payload.data.lon}}","layout":"row-center","x":284.5,"y":154,"wires":[]},{"id":"aa15fccc.66ecd","type":"mqtt in","z":"cc5fdf91.bdf68","name":"","topic":"$(MQTT_TOPIC)","qos":"2","datatype":"auto","broker":"94524b75.e846b8","x":93.5,"y":31,"wires":[["fdf2ef5e.81d1a"]]},{"id":"aeff7b2a.145928","type":"switch","z":"cc5fdf91.bdf68","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"location","vt":"str"},{"t":"eq","v":"weather","vt":"str"},{"t":"eq","v":"display","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":113.5,"y":175,"wires":[["39cf231f.48b36c"],["49443bee.dcddb4"],["555d4cc5.5ef584"]]},{"id":"fdf2ef5e.81d1a","type":"json","z":"cc5fdf91.bdf68","name":"","property":"payload","action":"","pretty":false,"x":112.5,"y":108,"wires":[["aeff7b2a.145928"]]},{"id":"29822013.84e3d","type":"ui_text","z":"cc5fdf91.bdf68","group":"3f52f8fc.cc1bf8","order":1,"width":0,"height":0,"name":"","label":"Current Weather","format":"{{msg.payload.shortcast}}","layout":"row-spread","x":666.5,"y":203,"wires":[]},{"id":"18989a57.099256","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"e972e1e0.fb444","order":3,"width":0,"height":0,"passthru":false,"label":"Taipei, Taiwan","tooltip":"","color":"","bgcolor":"","icon":"gps_fixed","payload":"{\"type\":\"location\",\"loctype\":\"geocode\",\"data\":{\"lat\":\"25.05\",\"lon\":\"121.53\"},\"child\":[]}","payloadType":"json","topic":"test/json","x":422.5,"y":111,"wires":[["d867d279.db1b6"]]},{"id":"db61c59a.8d7588","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"e972e1e0.fb444","order":2,"width":0,"height":0,"passthru":false,"label":"San Diego, CA","tooltip":"","color":"","bgcolor":"","icon":"gps_fixed","payload":"{\"type\":\"location\",\"loctype\":\"geocode\",\"data\":{\"lat\":\"32.72\",\"lon\":\"-117.16\"},\"child\":[]}","payloadType":"json","topic":"test/json","x":418.5,"y":67,"wires":[["d867d279.db1b6"]]},{"id":"d867d279.db1b6","type":"mqtt out","z":"cc5fdf91.bdf68","name":"","topic":"$(MQTT_TOPIC)","qos":"2","retain":"false","broker":"94524b75.e846b8","x":639.5,"y":84,"wires":[]},{"id":"49443bee.dcddb4","type":"switch","z":"cc5fdf91.bdf68","name":"","property":"payload.data[0].day","propertyType":"msg","rules":[{"t":"istype","v":"undefined","vt":"undefined"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":280.5,"y":205,"wires":[["2e7ce0f2.86f2a"],["406ed800.af5bc8"]]},{"id":"2e7ce0f2.86f2a","type":"change","z":"cc5fdf91.bdf68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[0].night","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":439.5,"y":182,"wires":[["29822013.84e3d"]]},{"id":"406ed800.af5bc8","type":"change","z":"cc5fdf91.bdf68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data[0].day","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":436.5,"y":231,"wires":[["29822013.84e3d"]]},{"id":"c1a2ec4e.600a8","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":2,"width":0,"height":0,"passthru":false,"label":"Sun","tooltip":"","color":"","bgcolor":"","icon":"flare","payload":"","payloadType":"str","topic":"","x":450.5,"y":308,"wires":[[]]},{"id":"44ea0d5f.ec5d64","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":3,"width":"4","height":"1","passthru":false,"label":"Cloud","tooltip":"","color":"","bgcolor":"","icon":"cloud","payload":"","payloadType":"str","topic":"","x":449.5,"y":362,"wires":[[]]},{"id":"8e0b7e16.f9afe","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":4,"width":"4","height":"1","passthru":false,"label":"Raining","tooltip":"","color":"","bgcolor":"","icon":"grain","payload":"","payloadType":"str","topic":"","x":455.5,"y":415,"wires":[[]]},{"id":"758a5a2e.b81124","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":5,"width":"4","height":"1","passthru":false,"label":"Storm","tooltip":"","color":"","bgcolor":"","icon":"flash_on","payload":"","payloadType":"str","topic":"","x":444.5,"y":469,"wires":[[]]},{"id":"2f5e149f.7954cc","type":"ui_button","z":"cc5fdf91.bdf68","name":"","group":"3db68f93.91dcf","order":6,"width":"4","height":"1","passthru":false,"label":"Rainbow","tooltip":"","color":"","bgcolor":"","icon":"looks","payload":"","payloadType":"str","topic":"","x":451.5,"y":523,"wires":[[]]},{"id":"555d4cc5.5ef584","type":"switch","z":"cc5fdf91.bdf68","name":"","property":"payload.data","propertyType":"msg","rules":[{"t":"eq","v":"sun","vt":"str"},{"t":"eq","v":"cloud","vt":"str"},{"t":"eq","v":"raining","vt":"str"},{"t":"eq","v":"storm","vt":"str"},{"t":"eq","v":"rainbow","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":246.5,"y":421,"wires":[["c1a2ec4e.600a8"],["44ea0d5f.ec5d64"],["8e0b7e16.f9afe"],["758a5a2e.b81124"],["2f5e149f.7954cc"]]}]